@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Noto+Serif+JP:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif JP", serif;
  --font-sans: "Noto Sans JP", sans-serif;
  --color-primary-brown: #5c4d44;
  --color-primary-light: #f5f2ed;
  --color-accent-green: #4f6a52;
  --color-text-main: #2d2622;
  --color-text-muted: #6b635e;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}

.text-balance {
  text-wrap: balance;
}
